*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(240, 240, 240);
    font-family: 'Be Vietnam Pro', sans-serif;
}

nav{
    width: 1000px;  
    background-color: white;
    margin:auto;
    margin-top: 100px;
    border-radius: 10px 10px 0 0 ;
}

.intestazione{
 background-color: white;
}

#text-toboolist{
    font-size: 50px;
    vertical-align: text-bottom;
}

.logo-text{
    padding: 10px;
}

#tools{
    padding: 20px ;
    margin-left: 50px;
}

main{
    width: 1000px;  
    background-color: white;
    margin:auto;
    height: 1100px;
    margin-top: 4px;
    border-radius: 0 0 10px 10px;
}

#menu{
    font-size: 20px;
    line-height: 3.5;
    padding: 80px;
}

ul{
    list-style: none;
}

.schede{
    margin-bottom: 30px;
}

#tools{
    padding: 20px ;
    margin-left: 50px;
}

#add-task{
    background-color: rgb(0, 162, 255);
    border-radius: 5px;
    padding: 7px;
    color: white;
}

#add-section{
    border: solid black 1px;
    padding: 7px ;
    border-radius: 5px ;
    color: lightgray ;
}

.editorial{
    font-size: 12px;
    background-color: rgb(0, 162, 255);
    padding: 10px;
    color: white;
    border-radius: 20px;
}